nav {
    background-color: #C6D57E;
}
nav a{
    color: #D57E7E;
}
nav a:hover {
    background-color: #FFE1AF;
}
nav {
    padding: 10px;
    margin-bottom: 30px;
}
.evenrow {
    background-color: #D57E7E;
}
@media only screen and (max-width: 600px) {
    a {
        display: block;
    }
    span {display: none;}
}



