p {
    color: coral;
    font-size: 150%;
    /* we are selecting all the paragraphs, changing font, color, and size */
}
h1 {
    color: darkseagreen;
    letter-spacing:1.1em;
    word-spacing: 5em;
    /* you can look up all different text affects in w3schools */
}
p, h1 {
    font-family: Arial, Helvetica, sans-serif;
}
p a {
    color: orange;
}
/* only changes links inside p tags - decendant selection*/